.bg {
  background: #004E92;
}

.lottieLogo {
  display:block;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  margin-top: 50px;
}

.title {
  font-size: 34px;
  font-weight: 500;
  color: white;
  text-align: center;
  margin: 0 auto;
  margin-top: -30px;
}

.subtitle {
  font-size: 13px;
  font-weight: 300;
  color: white;
  text-align: center;
  margin: 0 auto;
}

.bottone {
  font-size: 13px;
  font-weight: 300;
  background-color: white;
  border: 0;
  border-radius: 30px;
  margin-top: 20px;
}

.idea {
  line-height: 130%;
  color: white;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
}

@media screen and (max-width: 992px) {

  .lottieLogo {
    display:block;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .idea {
    font-size: 26px;
    font-weight: 100;
    line-height: 150%;
    color: white;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
  }
}
